{% load static %}
{% include 'gym/navigationbar.html'%}
{%block head%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'gym/css/style.css'%}">
    
</head>
{% endblock%}
<body>

   
     <section class="background first-section">
               <div class="box-main">
                   <div class="firsthalf">
                       <h2 class="big-text">Lets Hit The Gym!!</h2>
                       <p class="small-text">“To ensure good health: eat lightly,
                            breathe deeply, live moderately, cultivate cheerfulness,
                             and maintain an interest in life.” -William Londen</p>
                   </div>
                   <div class="secondhalf">
                       <img src="{% static 'gym/images/fit-woman.jpg'%}" alt="laptop">
                   </div>
               </div>
     </section>

     <section id="about" class="section">
         <div class="paras">
         <p class="sectiontag">Physical Fitness</p>
         <p class="sectionSubTag">Physical fitness is a state of health and
              well-being and, more specifically, the ability to perform aspects 
              of sports, occupations and daily activities. Physical fitness is
               generally achieved through proper nutrition, moderate-vigorous 
               physical exercise,and sufficient rest.Fitness is 
            now considered a measure of the body's ability to function efficiently and 
            effectively in work and leisure activities, to be healthy, to resist hypokinetic 
            diseases, and to meet emergency situations.</p>
            </div>
             <div class="thumbnail">
                 <img src="https://source.unsplash.com/500x500/?gym,celebrity" alt="photo"/>
             </div>
     </section>

     <section class="section leftsection">
        <div class="paras">
        <p class="sectiontag">Physical And Mental Health</p>
        <p class="sectionSubTag"> mental and physical health are inextricably linked.
             A large number of studies have encouraged that practicing at a 
             minimal level of at least 60 minutes/week of any physical activity,
              and take an enough humour time in a nice place that will help to 
              have a healthy body and mind. Although, more accurate studies 
              are required, to prove what kind and how physical activity demand
               for each specific illness.</p>
           </div>
            <div class="thumbnail">
                <img src="https://source.unsplash.com/500x500/?gym,bollywood" alt="photo">
            </div>
    </section>

    <section class="section">
        <div class="paras">
        <p class="sectiontag"> Role of Perfect Diet</p>
        <p class="sectionSubTag">The food we eat plays a vital role in how we look and feel.
             Regular exercise is important but according to research, nutrition has the largest 
             impact on our fitness. Using food as our medicine has become a popular theme for 
             health improvement.The trend is now to focus on healthy food intake as a primary fitness goal.
              When healthy eating habits become a lifestyle, we are healthier and happier.
               ​Eating right can help us reduce body fat, lose a few pounds, feel more confident,
                and reduce our risk of illness. </p>
           </div>
            <div class="thumbnail">
                <img src="https://source.unsplash.com/500x500/?salads" alt="photo">
            </div>
    </section>
    
    

    <section id="contact" class="contact">
        <div class="aa">
        <h2>Reach Us :-</h2>
        <h2>ADDRESS: Juja main gate</h2>
        <h2>CONTACT NO: 0723567890</h2>
        <h2>EMAIL ID:  FitFamgym@gmail.com</h2>
        </div>
    </section>

    <footer class="footer background">
         <p> your health our priority!!</p>
    </footer>
    <script src="{% static 'gym/js/resp.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>