{% extends 'gym/base.html'%}
{% load static %}
{% block styles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'payment/payment.css'%}">
<style>
    body {
      font-size: 20px;
    }
    </style>
{%endblock%}

{%block title%}
<title>
    payment options
</title>
{%endblock%}

{% block body%}
<!--
<h3> hello {{user.username}} </h3>
<div class="alert alert-primary" role="alert">
    our LipaNaMpesa option is currently unavailable online,
    <p>
        if you wish to proceed with payment , you can use the send money option to :
        <strong>0724256042</strong>
        and a confirmation email will be sent to : {{user.email}}
        <p> as soon as we process your payment.</p>
       
    
        <p> thankyou for your patience and consideration  &#128516; </p>
    </p>
  </div>
-->

<style>
  .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
</style>





<script src="https://js.stripe.com/v3/"></script>
<form action="{% url 'paymentredirect'%}" method="post",id="payment-form">
  {% csrf_token %}
  <div class="form-field-12">
    <label for="amount">Choose Amount:</label>
    <br>
    <br>
    <select required name="amount" id="amount">
      <option selected value="1000">ksh 1000 --weekly subscription</option>
      <option value="3000">ksh 3000 --- monthly subscription</option>
      <option value="36000">ksh 32000 -- yearly subscription </option>
    </select>
  </div>
  <div class="form-field-6">
  <input required type="text" name="email" value="{{user.email}}">
  </div>
  <div class="form-field-6">
  <input reqired type="text" name="username" value="{{user.username}}">
  </div>
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
  </div>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>
  
  <div style="clear:left"></div>
  <hr>
    
    
     <input  class="myButton" style="background-color:#10a195" type="submit" value="Submit Payment" name="">
    </div>
    <br>
    <div class="alert alert-primary" role="alert">
      our LipaNaMpesa option is currently unavailable online,
      <p>
          if you wish to proceed with payment , you can use the send money option to :
          <strong>0724256042</strong>
          and a confirmation email will be sent to : {{user.email}}
          <p> as soon as we process your payment.</p>
         
      
          <p> thankyou for your patience and consideration  &#128516; </p>
      </p>
    </div>
    <br>
  </form>

<script>
  // Create a Stripe client.
  var stripe = Stripe('pk_test_51JS3epDrHJkkmqbMPx1i67UjR2gXp5Ho2gG4A8iciEPq1EEAfUcsTHNDXNPJPHyqOAPsB6GksLVI5zd4YYvGF6bD00yin3TSfC');

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }
</script>
{%endblock%}