{% extends 'gym/base.html'%}
{% load static %}

{%block body%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p> Thankyou for booking a session with Mobile FitFam, your allocated trainer will contact you to plan more on 
                what you would like to do "</p>
            <p>
                please make your payment to confirm your booking  &#128516;
            </p>
            <p>
                <a class='btn btn-warning'href="https://buy.stripe.com/test_8wMg2w2vqeA00Ug147">Make Payment</a>
            </p>

           
        </div>
    </div>
</div>

{%endblock%}
